# The versions are not specified since MoGe should be compatible with most versions of the packages. 
# If incompatibilities are found, consider upgrading to latest versions or installing the following recommended version of the package.
torch           # >= 2.0.0
torchvision
opencv-python   # ==4.10.0.84
scipy           # ==1.14.1
matplotlib      # ==3.9.2
trimesh         # ==4.5.1
pillow          # ==10.4.0
huggingface_hub # ==0.25.2
git+https://github.com/EasternJournalist/utils3d.git@c5daf6f6c244d251f252102d09e9b7bcef791a38

